.borderline {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2;
}
.label {
    -fx-font-size: 60%;
}
.labelhub {
    -fx-font-size: 200%;
}
.labelhubsmall {
    -fx-font-size: 130%;
}
.menu-item .label{
    -fx-text-fill: darkblue;
    -fx-alignment: center;
    -fx-font-size: 200%;
}